<mat-drawer-container class="example-container" autosize>
  <!-- Side Navigation Drawer -->
  <mat-drawer #drawer class="example-sidenav" mode="side" opened>
    <p>Auto-resizing sidenav</p>

    <div><button (click)="navigateToHome()" mat-raised-button>
      Schedule
    </button></div>


    <div>
      <button (click)="toggleFiller()" mat-raised-button>
        Toggle extra text
      </button></div>
    <div> <button (click)="toggleFiller()" mat-raised-button>
      Toggle extra text
    </button></div>
  </mat-drawer>

  <!-- Main Content Area -->
  <div class="example-sidenav-content">

    <button mat-button aria-label="Toggle sidenav" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <div class="demo-section">

      <mat-icon matBadge="15">home</mat-icon>
      <!-- Include text description of the icon's meaning for screen-readers -->
      <span class="cdk-visually-hidden">
      Example with a home icon with overlaid badge showing the number 15
    </span>
    </div>

    <!-- Routing for child components -->

    <app-conflict-list></app-conflict-list>  <!-- Add your ChildComponent here -->
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
