<div class="page-container">
<mat-accordion >
  <mat-expansion-panel *ngFor="let conflict of conflicts; let i = index" class="conflicts-container">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Conflict #{{ i + 1 }}
      </mat-panel-title>
      <mat-panel-description>
        {{ conflict.seance1.name }} vs {{ conflict.seance2.name }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="conflict-details">
      <div class="conflict-types">
        <h3>Conflict Types:</h3>
        <mat-chip *ngFor="let type of conflict.conflictTypes" color="warn" selected>
          <mat-icon>{{ getConflictIcon(type) }}</mat-icon>
          {{ type }}
        </mat-chip>
      </div>

      <mat-divider></mat-divider>

      <div class="seance-details">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{ conflict.seance1.name }}</mat-card-title>
            <mat-card-subtitle>{{ conflict.seance1.groupe }}</mat-card-subtitle>
            <mat-card-subtitle>
              <mat-form-field appearance="outline">
                <mat-label>Day</mat-label>
                <input matInput [(ngModel)]="conflict.day"
                       (ngModelChange)="onSeanceAttributeChange()">
              </mat-form-field>
            </mat-card-subtitle>
            <mat-card-subtitle>
              <mat-form-field appearance="outline">
                <mat-label>Time</mat-label>
                <input matInput [(ngModel)]="conflict.time"
                       (ngModelChange)="onSeanceAttributeChange()">
              </mat-form-field>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field appearance="outline">
              <mat-label>Professor</mat-label>
              <input matInput [(ngModel)]="conflict.seance1.professor"
                     (ngModelChange)="onSeanceAttributeChange()">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Room</mat-label>
              <input type="text"
                     matInput
                     [formControl]="roomControl1"
                     [matAutocomplete]="auto1"
                     [(ngModel)]="conflict.seance1.room"
                     (ngModelChange)="onSeanceAttributeChange()">
              <mat-autocomplete #auto1="matAutocomplete">
                <mat-option *ngFor="let room of availableRooms[i]" [value]="room">
                  {{room}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </mat-card-content>
        </mat-card>

        <mat-icon class="vs-icon">compare_arrows</mat-icon>

        <mat-card>
          <mat-card-header>
            <mat-card-title>{{ conflict.seance2.name }}</mat-card-title>
            <mat-card-subtitle>{{ conflict.seance2.groupe }}</mat-card-subtitle>
            <mat-card-subtitle>
              <mat-form-field appearance="outline">
                <mat-label>Day</mat-label>
                <input matInput [(ngModel)]="conflict.day"
                       (ngModelChange)="onSeanceAttributeChange()">
              </mat-form-field>
            </mat-card-subtitle>
            <mat-card-subtitle>
              <mat-form-field appearance="outline">
                <mat-label>Time</mat-label>
                <input matInput [(ngModel)]="conflict.time"
                       (ngModelChange)="onSeanceAttributeChange()">
              </mat-form-field>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field appearance="outline">
              <mat-label>Professor</mat-label>
              <input matInput [(ngModel)]="conflict.seance2.professor"
                     (ngModelChange)="onSeanceAttributeChange()">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Room</mat-label>
              <input type="text"
                     matInput
                     [formControl]="roomControl2"
                     [matAutocomplete]="auto2"
                     [(ngModel)]="conflict.seance2.room">
              <mat-autocomplete #auto2="matAutocomplete" (change)="onSeanceAttributeChange()">
                <mat-option *ngFor="let room of availableRooms[i]" [value]="room">
                  {{room}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
</div>
