

.example-container {
  width: 100%;
  height: 100vh;
}

.example-sidenav {
  padding: 20px;
  min-width: 200px;
}

.example-sidenav button {
  margin-bottom: 10px; /* Add spacing between buttons */
}

.content {
  padding: 20px;
}

.example-sidenav-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: url('https://i.postimg.cc/02CcpQx6/i-want-a-simple-degrad-background-in-this-color-tone-CAE9-FF-all-blue-tone-more-homogunous-i-want-it.jpg') no-repeat center center fixed;
  background-size: cover;
}

/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* styles.css (or styles.scss) */
body {
  background: url('https://i.postimg.cc/02CcpQx6/i-want-a-simple-degrad-background-in-this-color-tone-CAE9-FF-all-blue-tone-more-homogunous-i-want-it.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  margin: 0;
}
