<section>
  <div class="button-row">
    <div class="flex-container">
      <div class="button-container">
        <button mat-fab extended (click)="navigateToSchedule()">
          <mat-icon>edit</mat-icon>
          Edit
        </button>
      </div>
    </div>
  </div>
</section>

<form>
  <h4>Select Group</h4>
  <mat-form-field appearance="outline">
    <mat-label>Choose a Group</mat-label>
    <mat-select [(ngModel)]="selectedGroup" name="group">
      <mat-option *ngFor="let group of groupOptions" [value]="group">
        {{ group }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-checkbox [(ngModel)]="showTD" name="showTD">Show TD</mat-checkbox>
  <mat-checkbox [(ngModel)]="showTP" name="showTP">Show TP</mat-checkbox>
</form>

<div class="schedule-container">
  <table class="schedule-table">
    <thead>
    <tr>
      <th class="time-slot">
        <div class="header">Horaire</div>
      </th>
      <th *ngFor="let time of timeSlots">
        <div class="header-container">{{ time }}</div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let day of days">
      <td class="time-slot">
        <div class="time-container">{{ day }}</div>
      </td>
      <td *ngFor="let time of timeSlots">
        <ng-container *ngIf="getFilteredSchedule()[day] && getFilteredSchedule()[day][time]">
          <div *ngFor="let seance of getFilteredSchedule()[day][time]"
               class="session-card"
               [ngClass]="{
                   'has-activity': seance,

                 }"
               [ngStyle]="{
                   'background-color': getActivityColor(seance.biWeekly),
                   'color': getTypeColor(seance.type)
                 }">
            <div class="session-card-content">
              <div class="session-header">
                <div class="session-name">{{ seance.name }}</div>
<!--                <div class="session-tag" *ngIf="seance.isRattrapage">Rattrapage</div>-->
              </div>
              <div class="session-details">
                <div class="session-info">
                  <mat-icon>room</mat-icon>
                  <span class="session-room">{{ seance.room }}</span>
                </div>
                <div class="session-info">
                  <mat-icon>person</mat-icon>
                  <span class="session-professor">{{ seance.professor }}</span>
                </div>
                <div class="session-info">
                  <mat-icon>class</mat-icon>
                  <span class="session-type">{{ seance.type }}</span>
                </div>
                <div class="session-info">

                  <span class="session-code">{{ seance.groupe }}</span>
                </div>
                <div class="session-frequency" *ngIf="seance.biWeekly">
                  <mat-icon>calendar_today</mat-icon>
                  <span>(Biweekly)</span>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <div *ngIf="!getFilteredSchedule()[day][time]" class="session-card empty">
          <div class="empty-slot-text">No session scheduled</div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
