.example-button-row {
  position: relative; /* Make the parent container a reference for absolute positioning */
}

.custom-button {
  position: absolute; /* Position the button absolutely inside the container */
  top: 10px; /* Distance from the top */
  right: 10px; /* Distance from the right */
  z-index: 1; /* Ensure the button is on top of other content */
}
/* schedule.component.css */
/* Add any additional custom styles here */
.mat-form-field {
  width: 100%;
}

/* Custom scrollbar for Webkit browsers */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.5);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(156, 163, 175, 0.7);
}

/* Dark mode scrollbar */
.dark ::-webkit-scrollbar-thumb {
  background-color: rgba(75, 85, 99, 0.5);
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: rgba(75, 85, 99, 0.7);
}
.break-words {
  word-wrap: break-word;
}

.w-fit {
  width: fit-content;
}
