<section>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <button mat-fab extended (click)="navigateToView()">
          <mat-icon>visibility</mat-icon>
          View
        </button>
      </div>
    </div>
  </div>
</section>

<div class="schedule-container">
  <table class="schedule-table">
    <thead>
    <tr>
      <th class="time-column">
        <div class="header">Horaire</div>
      </th>
      <th *ngFor="let time of timeSlots">
        <div class="header-container">{{ time }}</div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let day of days">
      <td class="time-slot">
        <div class="time-container">{{ day }}</div>
      </td>
      <td *ngFor="let time of timeSlots">
        <ng-container *ngIf="schedule[day]">
          <div *ngFor="let group of Object.keys(schedule[day])">
            <div *ngFor="let seance of schedule[day][group][time]" class="activity-container"
                 [ngStyle]="{'background-color': getActivityColor(seance.biWeekly), 'color': getTypeColor(seance.type)}"
                 [ngClass]="{'has-activity': seance}"
                 [attr.aria-label]="seance ? 'Edit ' + seance.name : 'Empty slot'"
                 (click)="openEditModal(seance, day, time)">
              <div class="activity-cell">
                <div class="activity-name">{{ seance.name }}</div>
                <div class="activity-room">{{ seance.room }}</div>
                <div class="activity-professor">{{ seance.professor }}</div>
                <div class="activity-type">{{ seance.type }}</div>
                <div class="activity-code">{{ seance.code }}</div>
                <div class="activity-biweekly" *ngIf="seance.biWeekly">(Biweekly)</div>
              </div>
            </div>
          </div>
        </ng-container>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div *ngIf="selectedActivity" class="modal" (click)="closeModal($event)">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h2>Edit Activity</h2>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Activity Name</mat-label>
        <input matInput [formControl]="nameControl" [(ngModel)]="selectedActivity.seance.name" name="name" placeholder="Ex. Math Class" [matAutocomplete]="autoName">
        <mat-autocomplete #autoName="matAutocomplete">
          <mat-option *ngFor="let option of filteredNames | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Room</mat-label>
        <input matInput [formControl]="roomControl"  [(ngModel)]="selectedActivity.seance.room" name="room" placeholder="Ex. A-101" [matAutocomplete]="autoRoom">
        <mat-autocomplete #autoRoom="matAutocomplete">
          <mat-option *ngFor="let option of filteredRooms | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Type</mat-label>
        <input matInput  [(ngModel)]="selectedActivity.seance.type" name="type"  [formControl]="typeControl" placeholder="Ex. COURS" [matAutocomplete]="autoType">
        <mat-autocomplete #autoType="matAutocomplete">
          <mat-option *ngFor="let option of filteredTypes | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <button mat-button (click)="closeModal()">Close</button>
      <button mat-raised-button color="primary" (click)="saveChanges()">Save</button>
    </form>
  </div>
</div>
