<mat-drawer-container class="example-container" autosize>
  <!-- Side Navigation Drawer -->
  <mat-drawer #drawer class="example-sidenav" mode="side" opened>
    <p>Auto-resizing sidenav</p>

    <button (click)="navigateToConflicts()" mat-raised-button>
      Conflicts
    </button>
    <div><button (click)="navigateToRooms()" mat-raised-button>
      Rooms
    </button></div>
   <div>
     <div><button (click)="navigateToSchedule()" mat-raised-button>
       Schedule
     </button></div>
     <div>
    <button (click)="toggleFiller()" mat-raised-button>
      Toggle extra text
    </button></div>
   <div> <button (click)="toggleFiller()" mat-raised-button>
      Toggle extra text
    </button></div>
   </div>
  </mat-drawer>

  <!-- Main Content Area -->
  <div class="example-sidenav-content">
    <button mat-button aria-label="Toggle sidenav" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
